/* HTML general defaults */
body {
  /* Fonts */
  font-family: Arial, Helvetica, Verdana, Georgia, sans-serif;

  /* Display */
  display: grid;
  grid-template-rows: auto 1fr 0.1fr;
  grid-template-columns: 1fr 2fr 1fr;

  /* Spacing */
  min-height: 100vh;
  margin: 0;

  /* Coloring */
  background-color: #FEF3D4;

  /* Background */
  background-image: url('./images/background.jpg');
  background-size: cover;
}

/* Header and footer defaults */
header, footer {
  grid-column-end: span 3;
  text-align: center;
}

/* Header specific styling */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0rem;
}

/* Main content section */
#content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-height: 100vh;
}

/* Navbar buttons specific */
nav button {
  /* Spacing */
  padding: 0.5rem 1rem;

  /* Coloring */
  border: none;
  background-color: #F5D69F;
  border-bottom: 3px solid #F5D69F;

  /* Others */
  cursor: pointer;
  font-weight: bold;
}

/* Hoover mouse interaction */
nav button:hover {
  color: #83664E;
  border-bottom: 3px solid #83664E;
}

/* Footer specific styling */
footer {
  /* Spacing */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Coloring */
  background-color: #5B4635;
  color: #F2F2F2;
}

/* Remove link style */
a {
  color: lightblue;
  text-decoration: none;
}

/* Middle content section */
main {
  grid-column-start: 2;
}

/* Vertical spacing divs */
aside {
  grid-column-start: 3;
}

/* Homepage headline */
.headline-paragraph {
  /* Spacing */
  max-width: 600px;
  margin: 0 auto;

  /* Coloring */
  color: #5B4635;
}

/* Homepage headline text */
.headline-paragraph-text { 
  font-size: 1.2rem;
}

/* Coffee and sweets images */
.coffee-sweets-imgs, img {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}
