/* HTML general defaults */
body {
  font-family: Arial, Helvetica, Verdana, Georgia, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr 100px;
  grid-template-columns: 200px 1fr 200px;
  min-height: 100vh;
  margin: 0;
}

/* Header and footer defaults */
header, footer {
  grid-column-end: span 3;
  text-align: center;
}

/* Header specific styling */
header {
  /* Spacing */
  padding: 1rem;
  box-sizing: border-box;

  /* Coloring */
  background-color: #FEF3D4;
}

/* Footer specific styling */
footer {
  /* Spacing */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Coloring */
  background-color: #5B4635;
  color: #F2F2F2;
}

/* Middle content section */
main {
  grid-column-start: 2;
}

/* Horizontal navigation bar */
nav {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

/* Vertical spacing divs */
aside {
  grid-column-start: 3;
}
